fastapi==0.109.0
uvicorn==0.27.0
sqlalchemy
psycopg[binary]
psycopg2-binary
pydantic-settings
pydantic
email-validator
boto3==1.34.25
python-multipart==0.0.6
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
slowapi==0.1.9
sentry-sdk[fastapi]==1.40.0
requests>=2.32.5
alembic==1.13.1
python-dotenv==1.0.1
Pillow
PyMuPDF